# ipynb temp files

# Main Poject
python-src/.ipynb_checkpoints
python-src/__pycache__
python-src/module_basic/.ipynb_checkpoints
python-src/test_package/.ipynb_checkpoints
python-ai-training/pandas/.ipynb_checkpoints
python-ai-training/pandas/dataset
python-ai-training/pandas-data/.ipynb_checkpoints
pandas/.ipynb_checkpoints
pandas-data/.ipynb_checkpoints
sklearn/.ipynb_checkpoints
deeplearning\.ipynb_checkpoints
opencv\.ipynb_checkpoints
coursera-google-tensorflow/.ipynb_checkpoints
project\.ipynb_checkpoints


# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/


# C extensions
*.so

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec


# Flask stuff:
instance/
.webassets-cache


# Jupyter Notebook
.ipynb_checkpoints