# ipynb temp files

python-src/.ipynb_checkpoints
python-src/__pycache__
python-src/module_basic/.ipynb_checkpoints
python-src/test_package/.ipynb_checkpoints
python-ai-training/pandas/.ipynb_checkpoints
python-ai-training/pandas/dataset
python-ai-training/pandas-data/.ipynb_checkpoints
pandas/.ipynb_checkpoints
pandas-data/.ipynb_checkpoints
sklearn/.ipynb_checkpoints
deeplearning\.ipynb_checkpoints
opencv\.ipynb_checkpoints
coursera-google-tensorflow/.ipynb_checkpoints
project\.ipynb_checkpoints
